*{
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

nav {
    width: 100%;
    background-color: #dee0de4f;

}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav a:hover {
    color: #ffffff8e;
    background-color: #c24d1773;
    text-decoration: none;
}

.box {
    border: 1px solid #dee0de;
    padding: 27px 25px 10px 25px;
    background: #dee0de4f;
    margin: 30px auto;
    width: 360px;
}

h1.box-logo a {
    text-decoration: none;
}

h1.box-title {
    color: #000000;
    background: #f8f8f8b6;
    font-weight: 300;
    padding: 15px 25px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin: -31px -26px 26px;
}

.box-button {
    border-radius: 5px;
    background: #d2483c;
    text-align: center;
    cursor: pointer;
    font-size: 19px;
    width: 100%;
    height: 51px;
    padding: 0;
    color: #fff;
    border: 0;
    outline: 0;
}

.box-register {
    text-align: center;
    margin-bottom: 0px;
}

.box-input {
    font-size: 14px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 25px;
    padding-left: 10px;
    border-radius: 5px;
    width: 347px;
    height: 50px;
}

.box-input:focus {
    outline: none;
    border-color: #5c7186;
}

body {
    background: linear-gradient(-45deg, #e2562c, #d44c80, #cfaf45, #dd0202);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.boxphoto {
    border: 1px solid #dee0de;
    padding: 0px 0px 0px 0px;
    background: #dee0de4f;
    margin: 139px 101px;
    width: 228px;
}

h1.title-photo {
    color: #000000;
    background: #f8f8f8b6;
    font-weight: 300;
    padding: 24px 34px;
    line-height: 30px;
    font-size: 25px;
    text-align: center;
    margin: 0px 0px 0px;
}
.boxphoto2 {
    border: 1px solid #dee0de;
    padding: 0px 0px 0px 0px;
    background: #dee0de4f;
    margin: -536px 432px;
    width: 228px;
}
.boxphoto3 {
    border: 1px solid #dee0de;
    padding: 0px 0px 0px 0px;
    background: #dee0de4f;
    margin: 143px 1237px;
    width: 228px;
}

.boxphoto4 {
    border: 1px solid #dee0de;
    padding: 0px 0px 0px 0px;
    background: #dee0de4f;
    margin:-536px 1569px;
    width: 228px;
}

.footer-basic {
  padding:40px 0;
  background-color:#00000085;
  color:#ffff;
  margin: 707px auto;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.text-photo {
    margin:-865px 29px;
    width: 228px;
}